<!DOCTYPE html>
<html lang="ru"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th1>Тут будет вывод информации о темпратуре</th1>
<br>
<th1>Тут будет вывод информации о влажности</th1>
<br>
<button type="button">Кнопка 1</button>
<button type="button">Кнопка 2</button>
<button type="button">кнопка 3</button>
<button type="button">Кнопка 4</button>
<script th:src="@{/js/modbus.js}"></script>
</body>
</html>